@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-mono: 'Courier New', Courier, 'Liberation Mono', 'DejaVu Sans Mono', monospace;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply antialiased text-gray-100 bg-gray-900;
  }
}
